<p id="notice"><%= notice %></p>
<div class="jumbotron">
<div class="container">
    <h1 class="display-3"><%= @user.name %></h1>
    <p><%= @user.description %></p>
  <% if owner? %>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn-info btn', :style => 'color: white' %>
    <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger btn', :style => 'color: white' %>
  <% end %>
  </div>
</div>

<% if !company? && !@user_clubs.empty? %>
  <h2> Clubs </h2>
  <% @user_clubs.each do |club| %>
    <%= link_to "#{club.club_name}".html_safe, club, class: 'btn-link btn'%>
  <% end %>
<% end %>

<% if company? %>
  <div class="container">
      <% @company_projects.each do |project| %>
      <div class="row" style="margin-top:20px;">
        <% if project.complete.nil? || !project.complete %>
            <div class="col-md-4">
            <h2 style='vertical-align: middle; position: absolute'><%= project.project_name %></h2><br>
            </div>
            <%= link_to 'Show', user_project_path(@user, project), class: 'btn-success btn', :style => 'color: white' %>
        <% end %>
      </div>
      <% end %>
  </div>
<% end %>
<br>
<% if company? && owner? %>
  <%= form_with(url: create_project_user_path, local:true) do |form|%>
    <div class="row">
      <div class="field col-md-4">
        <%= form.text_field :project_name, placeholder: 'New Project', :style => 'height: 100%'%>
      </div>
      <div class="actions">
        <%= form.submit 'Create', disabled: false, class: 'btn-success btn', :style => 'color: white'%>
      </div>
    </div>
  <% end %>
<% end %>
