<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @group.group_name %>
</p>


<% @group_members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= link_to 'Show', member %></td>
    <br>
  </tr>
<% end %>

<div class="container">
<% if !member? && student? %>
<%= link_to 'Join Group', add_group_member_club_group_path(group_id: @group), method: :post, class: 'btn-link btn' %>
<% end %>

<% if member? && student? %>
<%= link_to 'Leave Group', remove_group_member_club_group_path(group_id: @group), method: :post, class: 'btn-link btn' %>
<% end %>
</div>

<% if admin? %>
<%= link_to 'Edit', edit_club_group_path(@club), class: 'btn-info btn', :style => 'color: white' %>
<% end %>
<%= link_to 'Back', @club, class: 'btn-warning btn', :style => 'color: white' %>
