<%= form_with(model: application, local: true) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :application_text %>
  </div>

  <div class="field">
    <%= form.label :date_added %>
    <%= form.datetime_select :date_added, id: :application_date_added %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.text_field :group_id, id: :application_group_id %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :application_project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
