<p id="notice"><%= notice %></p>

<h1>Clubs</h1>

<table>
  <thead>
    <tr>
      <th>Club name</th>
      <th>University name</th>
      <th>Club link</th>
      <th>Description</th>
      <th>Photo link</th>
      <th>Verified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.club_name %></td>
        <td><%= club.university_name %></td>
        <td><%= club.club_link %></td>
        <td><%= club.description %></td>
        <td><%= club.photo_link %></td>
        <td><%= club.verified %></td>
        <td><%= link_to 'Show', club %></td>
        <td><%= link_to 'Edit', edit_club_path(club) %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in? && student? %>
<%= link_to 'New Club', new_club_path %>
<% end %>
