<p id="notice"><%= notice %></p>
<div class="jumbotron">
<div class="container">
    <h1 class="display-3"><%= @club.club_name %></h1>
    <% if !@club.university_name.empty? %>
      <%= @club.university_name %>
    <% end %>
    <p><%= @club.description %></p>
  <% if admin? %>
    <%= link_to 'Edit', edit_club_path(@club), class: 'btn-info btn', :style => 'color: white' %>
  <% end %>
  </div>
</div>

<div class="row container">
  <% if !member? && student? %>
  <%= link_to 'Join Club', add_club_member_club_path, method: :post, class: 'btn-info btn', :style => 'color: white' %>
  <% end %>

  <% if member? && student? %>
  <%= link_to 'Leave Club', remove_club_member_club_path, method: :post, data: { confirm: 'If you are the last admin, leaving will delete the club!' }, class: 'btn-warning btn', :style => 'color: white' %>
  <% end %>
  <%= link_to 'Back', clubs_path,  class: 'btn-info btn', :style => 'color: white' %>
</div>
<% if !@club.users.empty? %>
  <h2> Members </h2>
<% end %>
<% @club.users.each do |member| %>
  <tr>
    <% if adminv2?(member) %>
      &#9813;
    <% end %>
    <td><%= link_to "#{member.name}".html_safe, member, class: 'btn-link btn'%></td>
    <% if admin? %>
      <% if !adminv2?(member) %>
        <%= link_to "Make Admin", make_admin_club_path(@club, :member => member), method: :post %>
      <% else %>
        <% if !only_admin? %>
          <%= link_to "Delete Admin", delete_admin_club_path(@club, :member => member), method: :post %>
        <% end %>
      <% end %>
    <% end %>
    <br>
  </tr>
<% end %>

<br>

<% if !@club.groups.empty? %>
  <h2> Groups </h2>
<% end %>
<% @club.groups.each do |group| %>
  <tr>
    <td><%= link_to "#{group.group_name}", club_group_path(@club, group), class: 'btn-link btn' %></td>
    <br>
  </tr>
<% end %>

<br>

<% if admin? %>
  <%= form_with(url: create_group_club_path, local:true) do |form|%>
    <div class="field">
      <%= form.label :group_name%>
      <%= form.text_field :group_name%>
    </div>
    <div class="actions">
      <%= form.submit 'Create', disabled: false%>
    </div>
  <%end%>
<% end %>

<% @club.reviews.each do |review| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> <%= review.user.name %> </h5>
      <p class="card-text"><%= review.review_text %></p>
    </div>
  </div>
<% end %>
