<p id="notice"><%= notice %></p>

<p>
  <strong>Club name:</strong>
  <%= @club.club_name %>
</p>

<p>
  <strong>University name:</strong>
  <%= @club.university_name %>
</p>

<p>
  <strong>Club link:</strong>
  <%= @club.club_link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
  <strong>Photo link:</strong>
  <%= @club.photo_link %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @club.verified %>
</p>

<% @club_members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= link_to 'Show', member %></td>
    <% if adminv2?(member) %>
      ADMIN
    <% else %>
      NOT ADMIN
    <% end %>
    <br>
  </tr>
<% end %>
<br>
<% if !member? && student? %>
<%= link_to 'Join Club', add_club_member_club_path, method: :post %>
<% end %>
<br>
<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
