<p id="notice"><%= notice %></p>
<div class="jumbotron">
<div class="container">
    <h1 class="display-3"><%= @club.club_name %></h1>
    <% if !@club.university_name.empty? %>
      <%= @club.university_name %>
    <% end %>
    <p><%= @club.description %></p>
  <% if admin? %>
    <%= link_to 'Edit', edit_club_path(@club), class: 'btn-info btn', :style => 'color: white' %>
    <%= link_to 'Delete', @club, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger btn', :style => 'color: white' %>
  <% end %>
  </div>
</div>

<% if !@club_members.empty? %>
  <h2> Members </h2>
<% end %>
<% @club_members.each do |member| %>
  <tr>
    <% if adminv2?(member) %>
      &#9813;
    <% end %>
    <td><%= link_to "#{member.name}".html_safe, member, class: 'btn-link btn'%></td>
    <br>
  </tr>
<% end %>

<br>
<% if !member? && student? %>
<%= link_to 'Join Club', add_club_member_club_path, method: :post %>
<% end %>

<% if member? && student? %>
<%= link_to 'Leave Club', remove_club_member_club_path, method: :post %>
<% end %>
<br>

<% @club_groups.each do |group| %>
  <tr>
    <td><%= group.group_name %></td>
    <td><%= link_to 'Show', club_group_path(@club, group) %></td>
    <br>
  </tr>
<% end %>

<br>

<%= form_with(url: create_group_club_path, local:true) do |form|%>
  <div class="field">
    <%= form.label :group_name%>
    <%= form.text_field :group_name%>
  </div>
  <div class="actions">
    <%= form.submit 'Create', disabled: false%>
  </div>
<%end%>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>

<% @club_reviews.each do |review| %>
  <tr>
    <td><%= review.user.name %> </td>
    <td><%= review.review_text %></td>
    <br>
  </tr>
<% end %>
