<p id="notice"><%= notice %></p>

<p>
  <strong>Club:</strong>
  <%= @review.club %>
</p>

<p>
  <strong>Company:</strong>
  <%= @review.company %>
</p>

<p>
  <strong>Review text:</strong>
  <%= @review.review_text %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
